@import "{{ site.theme }}";


/* Custom styles below */
body {
    background-color: #5b21b6;
    font-family: 'Arial', sans-serif;
}

h1 {
    color: ##DC6525;
    font-size: 2rem;
}
/* Override Hacker theme text color */

